@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__welcome-text {
    background-color: $primary-purple;
    padding: 1rem;
    border-radius: 10px;
  }

  &__title {
    padding-top: 1.5rem;
  }
}

.trip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: 2px solid $primary-black;
  background-color: $secondary-white;
  border-radius: 10px;
  padding: 1.5rem;
  width: 80%;

  &__fields {
    display: flex;
    gap: 1.5rem;
  }
  &__label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 15rem;
  }

  &__input {
    height: 2rem;
    width: 100%;
    border: 2px solid $primary-black;
    border-radius: 0.625rem;
    padding: 0 0.5rem;

    &::placeholder {
      color: $placeholder-text;
    }

    &:focus {
      outline-style: none;
      border: 2px solid $secondary-purple;
    }

    &--error {
      border: 2px solid $error-color;
    }
  }

  &__submit-btn {
    @include btn-style;
    background-color: $primary-purple;
  }
}

.trip-list {
  width: 80%;
  padding: 1rem 2.5rem;
  border: 2px solid $primary-black;
  border-radius: 10px;
  background-color: $secondary-white;

  &__heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  &__heading-name,
  &__heading-startDate,
  &__heading-endDate {
    font-family: $heading-fontfam;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  &__empty-list-msg {
    text-align: center;
    font-size: 1.25rem;
    background-color: $primary-purple;
    border-radius: 10px;
  }
}
