// primary colours:
$primary-white: #F7F7F7;
$primary-black: #352F36;
$primary-purple: #CCC6D8;
$primary-rust: #bf8c7a;
$primary-blue: #7699D4;


// secondary colours:
$secondary-white: #F5F3F1;
$secondary-black: #000000;
$secondary-purple: #a67c97;
$secondary-rust: #BF755A;
$secondary-blue: #B7C2DD;

// other colours
$error-color: #cc0000;
$placeholder-text: #7e7e7e;
$cancel-btn: #F4F1ED;
$row-stripe: #CCC6D880;
$absolute-white: #ffffff;
$gray: #808080;