@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.landing-pg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  height: 40rem;
  gap: 7.5rem;
  background-image: url("../../../src/assets/images/lined-paper.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__cta {
    @include btn-style;
    text-decoration: none;
    background-color: $secondary-purple;
    border: none;
    color: $primary-white;
    height: 4rem;
    width: 13.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
  }
}
