@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.not-found {
    text-align: center;
    padding: 6rem;
    width: 60%;
    margin: 0 auto;
    background: $secondary-white;
    border: 2px solid $primary-black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__text {
      padding: 1rem 0;
    }
  
    &__link {
        @include btn-style;
        line-height: 2.25rem;
      text-decoration: none;
      width: 6rem;
      background-color: $primary-purple;
    }
  }
  